.ae-menu {
  @extend .ae-clickable;

  z-index: 1000;

  position: absolute;

  .ember-flex-menu-option-button {
    @extend .ae-button;

    display: block;
  }

  .ae-menu-text {
    margin: $ae-menu-text-margin;
  }

  .ember-flex-menu-option, .ae-menu-text {
    line-height: $ae-menu-child-line-height;
    text-align: $ae-menu-child-text-align;
  }

  .ember-flex-menu-option-input-container {
    position: relative;
  }

  .ember-flex-menu-option-input {
    @extend .ae-input;

    display: block;
    height: 100%;
  }

  .ember-flex-menu-option-input-accept {
    @extend .ae-input-accept;

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .ae-menu-option-shrink {
    flex-grow: 0;

    .ember-flex-menu-option-type {
      padding-left: $ae-menu-option-shrink-padding-sides;
      padding-right: $ae-menu-option-shrink-padding-sides;
    }
  }
}
